<!-- sidebar.component.html -->
<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('dashboard')">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('products')">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('dashboard')">Challan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('dashboard')">Bill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('dashboard')">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToRoute('dashboard')">Tax</a>
    </li>
    <!-- Add more sidebar links as needed -->
  </ul>
</div>
